.map-input{
    outline: none;
    border: 1px solid  rgba(120,109,109,0.97);
    border-radius: 8px;
    /* box-shadow: 1px 2px grey; */
    /* box-shadow: 12px 10px 33px -15px rgba(120,109,109,0.97);
-webkit-box-shadow: 12px 10px 33px -15px rgba(120,109,109,0.97);
-moz-box-shadow: 12px 10px 33px -15px rgba(120,109,109,0.97); */
    /* flex: 1; */
  /* min-width: 40%; */
  width: 45vh;
  margin: 10px;
  padding: 10px;
}